.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:25px;
  margin:0;
}

.input {
  border:1px solid #dfdede;
  border-radius:5px;
  padding:5px;
  width: 100%;
}

.wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}